{% extends 'main.html' %}
{% load static %}
{% block content %}

    <section class="expense-create-form">
       <h1>Create a new expense</h1>
        <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
            <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
        </form>
    </section>

{% endblock content %}