@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100vh;
}

body {
    height: 100vh;
    background-color: #f6ebda;
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}
.footer {
    text-align: center;
    background-color: #c8ae8d;
    color: #f6ebda;
    position: absolute;
    width: 100vw;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0px 10px 0px;
}